@font-face {
  font-family: 'JetBrains'; /* A name to be used later */
  src: url('/asset/fonts/JetBrainsMono.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Ensures text is visible while the font is loading */
}

@font-face {
  font-family: 'JetBrainsBold'; /* A name to be used later */
  src: url('/asset/fonts/JetBrainsMono-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Ensures text is visible while the font is loading */
}
